@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    z-index: 10;
}

body {
    background-color: rgb(255,248,241);
    color: #000;
}

@media (min-width: 1920px) {
    .container {
        max-width: 1763px; 
    }
}

.main {
    padding: 8px 16px;
    font-family: 'Helvetica';

    @import "layouts/hero-header";
    @import "layouts/bestsellers";
    @import "layouts/promotions";
    @import "layouts/about";
    @import "layouts/follow";
    @import "layouts/breadcrumbs";
    @import "layouts/filters";
    @import "layouts/single-product";
    @import "layouts/cart";
    @import "layouts/checkout";
    @import "layouts/confirm";
    @import "layouts/thankyou";
}

@import "layouts/cart-shopping";