.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__content {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        padding: 65px 20px 60px;

        &__order-addres {
            h1 {
                font-size: 20px;
                color: #000;
                padding: 20px 0;
                margin-bottom: 0;
            }
        }

        &__form {
            padding: 20px 0;
            border-top: 1px solid rgba(0, 0, 0,.2);

            h3 {
                font-size: 16px;
                color: #000;
                margin-bottom: 0;
            }

            form {
                margin-top: 12px;
            }

            &__row {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 12px;
                padding: 6px 0;

                .form-box {
                    padding: 0;

                    .form-control {
                        padding: 8px 12px;
                        height: 40px;
                        font-size: 14px;
                        border: 1px solid rgba(0, 0, 0, 0.6);
                        background: none;
                        border-radius: 0px;
                    }

                    textarea {
                        min-height: 80px;
                        max-height: 150px;
                    }

                    .form-control::placeholder {
                        color: rgba(0, 0, 0, 0.6);
                    }

                    .form-control:focus {
                        outline: none; 
                        box-shadow: none;                 
                    }
                }
            }
        }

        &__payments {
            h3 {
                font-size: 20px;
                color: #000;
                padding: 20px 0;
                margin-bottom: 0;
            } 

            &__options {
                padding: 20px 0 12px;
                border-bottom: 1px solid rgba(0, 0, 0,.2);
                border-top: 1px solid rgba(0, 0, 0,.2);
                
                h4 {
                    font-size: 16px;
                    color: #000;
                    margin-bottom: 0;
                }
            }

            &__row {
                margin-top: 12px;

                .form-check {
                    padding: 5px 0 5px;
                    margin-bottom: 0;

                    .form-check-input {
                        font-size: 16px;
                        margin-left: 0;
                        padding: 5px;
                        background: none;
                        border: 1px solid rgba(0, 0, 0,.6);
                    }

                    .form-check-input:checked {
                        background: #000;
                        border-color: transparent;
                    }
                    
                    .form-check-input:focus {
                        box-shadow:none;
                    }

                    .form-check-label {
                        font-size: 16px;
                        margin-left: 32px;
                    }
                }
            }

            &__btn {
                display: flex;
                a {
                    text-decoration: none;
                    margin-top: 20px;
                    padding: 8px;
                    background: #5b4d43;
                    color: #fff8f1;
                    font-size: 16px;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}