.follow {
    padding: 0 48px;
    
    &__text {
        padding: 48px 0 36px;
        h2 {
            font-size: 64px;
            margin-bottom: 0;
            font-weight: bold;
        }
    }

    .splide {
        &__slide {
            
            img {
                width: 100%;
                height: 330px;
                object-fit: cover;
                object-position: 50% 50%;
            }
        
            p {
                margin: 16px 0 0 0;
            }
            
            p, span {
                font-size: 18px;
            }
        }
        }
    }

